body
{
    background-color: lightgreen;
	font-family: gregorian;
}

img {
	width:100%;
}

#main {
	width:600px;
	margin:40px auto;
}

.wikitable {
    background-color: lightblue;
    color: #222;
    width:100%;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

.wikitable th {
    background-color: darkblue;
    text-align: center;
    border: 1px solid #a2a9b1;
    padding: 0.3em;	
}

.wikitable td {
    padding: 0.5em;	
    text-align: center;
}

