body
{
    font-family: gregorian;
background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
 border-top-color: coral;
    border-bottom-color: coral;
}
img {
    float: right;
	width:100%;
}

#main {

	width:600px;
	margin:40px auto;
 background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
  background-color:yellow;
  box-shadow:20px 20px 50px 10px pink inset; 
}

.wikitable {
    background-color: lightblue;
    color: #222;
    width:100%;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

.wikitable th {
    background-color: darkblue;
    text-align: center;
    border: 1px solid #a2a9b1;
    padding: 0.3em;	
}

.wikitable td {
    padding: 0.5em;	
    text-align: center;
}

